<header class="sidebar">
  <div class="nav-logo">
    <a routerLink="/">My Solution TG</a>
  </div>
  <nav class="nav-links">
    <ul>
      <li>
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/projects">Projets</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about">About</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/services">Services</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <footer class="nav-bottom">
    <p class="copyright">
      <small>© Copyright ©2021 Tous les droits sont réservés | Ce modèle est fait avec par <a href="">MySolutionTG</a></small>
      <span>Images de démonstration: <a href="">mysolutiontg.com</a></span>
    </p>
    <ul class="social-link">
      <li class="list-item">
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-item">
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="list-item">
        <a href="">
          <i class="fab fa-whatsapp"></i>
        </a>
      </li>
      <li class="list-item">
        <a href="">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </footer>
</header>
