<section class="wrapper-content">
  <app-heading [name]="'ENTRER EN CONTACT'" [description]="'LIRE'"></app-heading>

  <div class="row">
    <address class="col-md-6">
      <app-address-item [icon]="'fa-address-book'" [description]="'mydolutiontg@gmail.com'"></app-address-item>
      <app-address-item [icon]="'fa-map-marked-alt'" [description]="'198 West 21th Street, Suite 721 New York NY 10016'"></app-address-item>
      <app-address-item [icon]="'fa-phone'" [description]="'+228 99 80 37 09'"></app-address-item>
    </address>
    <div class="col-md-6">

    </div>
  </div>
</section>
<section>

</section>
