<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary-color" style="width: 280px; height: 100vh">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">MySolution TG</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/admin/dashboard" routerLinkActive="active-link" class="nav-link text-white">
        <i class="fas fa-home"></i>
        Tableau de bord
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/service" routerLinkActive="active-link" class="nav-link text-white">
        <i class="fas fa-home"></i>
        Gestion des services
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/project" routerLinkActive="active-link" class="nav-link text-white">
        <i class="fas fa-folder"></i>
        Gestion des projets
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/message" routerLinkActive="active-link" class="nav-link text-white">
        <i class="fas fa-mailbox"></i>
        Gestions des méssages
      </a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a href="#" routerLinkActive="active-link" class="nav-link text-white">-->
<!--        <i class="fas fa-home"></i>-->
<!--        Gestions des déviés-->
<!--      </a>-->
<!--    </li>-->
  </ul>
</div>
