<div class="project-box" [style.background-image]="'url(./assets/images/' + image + ')'">
  <div class="desc">
    <h3>Work 1</h3>
    <span>Building</span>
    <p class="icon">
      <span>
        <a href="javascript:void(0);">
          <i class="fa fa-share-alt"></i>
        </a>
      </span>
      <span>
        <a href="javascript:void(0);">
          <i class="fa fa-eye"></i> 100
        </a>
      </span>
      <span>
        <a href="javascript:void(0);">
          <i class="fa fa-heart"></i> 49
        </a>
      </span>
    </p>
  </div>
</div>
