
<div class="mt-5">
  <div class="card">
    <div class="card-header">
      <h4>Liste des méssages</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom </th>
          <th scope="col">Area</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

