.card-img {

  img {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
  }
}

.description {
  margin-bottom: 50px;
}

.steps-row {
  margin-block: 30px;

  .col-md-4 {
    padding: 0;

    .steps {
      color: #20A39E;
      text-decoration: none;
      position: relative;
      display: block;

      .icon {
        span {
          height: 40px;
          width: 40px;
          text-align: center;
          border-radius: 50%;
          background-color: #fff;
          display: table;
          border: 1px solid #000F08;

          i {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

      h3 {
        font-weight: 400;
        margin-bottom: 20px;
        color: rgba(#000F08, .7);
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5;
        text-transform: uppercase;
      }

      &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #000F08;
        z-index: -1;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        box-sizing: border-box;
      }
    }
  }
}

.skills {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-block: 60px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000F08, .4);
    z-index: 0;
  }

  .col-md-3 {
    text-align: center;
    z-index: 1;
  }
}
