<section class="carousel-box">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <img src="./assets/images/lee-campbell-DtDlVpy-vvQ-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-description animate__animated animate__fadeInBottomRight animate__delay-1s">
          <h2>Bievenue sur My Solution</h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p>
            <a href="" class="btn ">Voir nos projets <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <img src="./assets/images/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-description animate__animated animate__zoomIn animate__delay-2s">
          <h2>Hello world</h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p>
            <a href="" class="btn ">Voir nos projets <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <img src="./assets/images/brooke-cagle%20-%20uHVRvDr7pg-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-description animate__animated animate__backInRight animate__delay-3s">
          <h2>Hello world</h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p>
            <a href="" class="btn ">Voir nos projets &nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
